body {
    background-color: black;
    
}

h1,
h2,
h3,
h4,
p {
    color: rgb(255, 255, 255);
}

#personagem-total {
    margin: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.h-direita {
    width: 100%;
    max-width: 200px;

    
}



.header-personagem {
    display: flex;
    width: 100%;
    height: 350px;
    border: 2px solid rgb(255, 255, 255);
    padding: 7px;
    justify-content: space-between;
    align-items: center;
}

.header-personagem h3 {
    font-size: 50px;
}

.header-personagem img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;

}

.p-dados {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.main-personagem {
    display: flex;
    width: 100%;
    height: 3000px;
    border: 2px solid rgb(255, 255, 255);
    padding: 7px;
    align-items: center;
    display: inline;
}

.main-personagem h2 {
    font-size: 30px;
    display: flex;
}

.header-main-personagem {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(255, 255, 255);
}

#filmes-arma {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#img-arma {
    width: 300px;
}

#img-arma img {
    max-width: 250px;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0px;
    
}

#filmes {
    display: flex;
    width: 280px;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
}

#filmes img {
    max-width: 130px;
    max-height: 200px;
    height: auto;
    width: 100%;
}

#dados-planta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#planta-starship img{
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 0px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}


@font-face {
    font-family: 'ScienceGothic';
    src: url('../fonts/ScienceGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5{
    font-family: 'ScienceGothic';
}

/* Telas menores que 1000px */
@media (max-width: 1000px) {
    .header-personagem h3 {
        font-size: 40px;
    }
}

/* Telas menores que 768px */
@media (max-width: 768px) {

    .header-personagem {
        flex-direction: column;
        text-align: center;
    }

    .header-personagem h3 {
        font-size: 35px;
    }

    #filmes-arma {
        flex-direction: column;
        align-items: center;
    }

    #dados-planta {
        flex-direction: column;
    }
}

/* Telas menores que 500px (celular) */
@media (max-width: 500px) {

    .header-personagem h3 {
        font-size: 28px;
    }

    #filmes img {
        max-width: 100px;
        max-height: 150px;
    }

    #img-arma img {
        max-width: 180px;
    }

    #personagem-total {
        margin: 15px;
    }
}