body{
    background-color: black;
}


h1, h2, h3, p{
    color: rgb(255, 255, 255);
}

#personagem-total{
    margin: 40px;
    margin-top: 10px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}



.header-personagem{
    display: flex;
    width: 100%;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    padding: 7px;
    justify-content: space-between;
    align-items: center;
    
}

.header-personagem h3{
    
    font-size: 50px;

}

.header-personagem img{
    max-width: 190px;
    max-height: 190px;
    height: auto;

    
}

.main-personagem{
    display: flex;
    width: 100%;
    height: 3000px;
    border: 2px solid rgb(255, 255, 255);
    padding: 7px;
    align-items: center;
}

.main-personagem h2{
    
    display: flex;
    background-color: rgb(112, 112, 112);
}