body{
    display: flex;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}

main{
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.fundo-background{
    width: 100%;
    background-position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    object-fit: cover;
    position: fixed;
}


.content{
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    z-index: 500;

    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.banner{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.banner img{
    width: 100%;
    height: auto;
}

.banner2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 8000px;
}

.banner2 img{
    width: 100%;
    height: auto;
}

.b2config{
    display: flex;
    /* background-color: aqua; */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.b2config p{
    color: rgb(251, 255, 0);
}

.menu-botoes{
    display: flex;
    justify-content: center;
}
.menu-botoes P{
    color: beige;
}

.menu-botoes button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 150px;
    height: 150px;
    background-color:rgba(253, 253, 253, 0.932);
    border-color: cornsilk;
    border-radius: 3px;
    width: 100%;
    overflow: hidden;
}
.menu-botoes img{
    width: 100%;
    object-fit: cover;
    flex: 1;
}

.carousel-fade .carousel-item {
  transition: opacity 0.8s ease-in-out;
}

/* PERSONAGENS */

#menu-personagens{
    margin: 50px;
    display: flex;
    justify-content: center;
    /* background-color: rgba(255, 0, 157, 0.144); */
}

#personagens{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#personagens button {
    display: flex;
    margin: 7px;
    max-width: 220px;
    height: 220px;
    
    flex-direction: column;
    background: none;
    border: 1px;
    border-color: rgba(98, 255, 255, 0.815);
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    overflow: hidden; /* evita imagem escapar */
}

#personagens button:hover {
    transform: scale(1.04);
    background-color: rgba(142, 251, 255, 0.342);;
    border-radius: 0px;
}

#personagens h3 {
    background-color: rgba(0, 255, 255, 0);
    padding: 0;
    margin: 0;
    bottom: 0;
    
    color: rgb(200, 229, 255);
    background-color: rgba(119, 255, 255, 0.068);
    flex-shrink: 0; /* impede o título de encolher */
    font-size: medium;
    
}

#personagens img {
    border-radius: 3px;
    width: 100%;
    
    object-fit: cover;
    flex: 1;
}

